/* http://odutolaabisoye.com
   Author: Odutola Abisoye
   Email: odutolaabisoye@gmail.com
   Phone: +2349098833141
   v2.0 | 20200431
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #212121; 
}

a:visited {
  color: #212121;
}

h1,
h2 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  margin-top: 50px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.button {
  border: 1px solid #212121;
  padding: 12px 40px;
}

.button:hover {
  color: #e9e9e9;
  background: #212121;
}

.button-white {
  border: 1px solid #e9e9e9;
  color: #e9e9e9 !important;
}

.button-white:hover {
  color: #212121 !important;
  background: #e9e9e9;
}

.section-description {
  width: 80%;
  margin: auto;
  text-align: center;
}

.button-container {
  margin: 80px 0;
}

header {
  background: url("../assets/img/triangle.svg");
  background-size: cover;
  color: white;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 0
}

.logo {
    font-weight: bold;
    font-size: 28px;
}

ul {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    width: 30%;

}

.top-nav li a {
    color: white;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding-top: 20px;
    padding-bottom: 84px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding-top: 50px;
}

.product-name{
    display: flex;
    justify-content: center;
}

.hero-button {
   
    padding: 12px 0;
}

.hero-image {
    padding-left: 60px;
}

p {
    margin: 40px 0 40px;
}

footer {
    background: #535353;
    color: #e9e9e9;
    padding: 40px 0;
    width: 100% !important;
  }

  .footer-content {
      display: flex;
      justify-content: space-between;
  }

  footer .footer-content ul a {
    color: #e9e9e9;
  }

  
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        .container {
            max-width: 90%;
        }

        .top-nav {
            display: block;
        }

        .logo{
            text-align: center;
            margin: auto;
        }

        .top-nav ul {
            margin: 20px auto 0;
            width: 80%;
        }

        .hero {
            display: grid;
            grid-template-columns: 1fr;
            padding-bottom: 84px;
        }

        .hero-copy {
            margin: auto;
            text-align: center;
        }

        .hero-image{
            text-align: center;
            width:100%;
        }

        .products {
            display: grid;
            grid-template-columns: 1fr 1fr;
            /*grid-gap: 15px; */
        }

        .blog-posts {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 30px;
            padding-top: 50px;
        }

        .blog-posts {
            margin: auto;
            text-align: center;
        }

        .footer {
            padding: 10px 0;

        }
        
          .footer-content {
            flex-direction: column;
            margin: auto;
            text-align: center;
          }
        
          footer .footer-content ul {
            color: #e9e9e9;
            margin: 10px auto 0;
            width: 50%;
            display: flex;
          }

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }
